.header-main-container {
  background: url("src/assets/bg-pattern.svg");
  background-repeat: repeat;
  background-color: var(--neutral-100);
  max-width: 1440px;
}

.header-container {
  padding-top: 32px;
  padding-bottom: 80px;
  padding-left: 135px;
}