@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martian+Mono:wght@100..800&display=swap');


:root {
  /*  Colors  */
  --neutral-50: hsl(0,0%,100%);
  --neutral-100: hsl(17.1,41.2%,96.7%);
  --neutral-200: hsl(17.1,12.3%,88.8%);
  --neutral-700: hsl(194.5,22.8%,28.4%);
  --neutral-900: hsl(194.3,77.8%,10.6%);

  --light-salmon-50: hsl(22.5,100%,96.9%);
  --light-salmon-100: hsl(22.2,100%,91%);
  --light-salmon-500: hsl(21.8,98.6%,71.6%);

  --text-gradient: linear-gradient(107deg, #FF9A60 -11.37%, #062630 61.84%);
  --gradient: linear-gradient(90deg, #FFE2D1 0%, #FFF5EF 100%);
  --button-gradient:  linear-gradient(90deg, #385159, #062630 100%);

  /*  Typography  */
  --fs-62: 62px;
  --fs-50: 50px;
  --fs-38: 38px;
  --fs-34: 34px;
  --fs-24: 24px;
  --fs-20: 20px;
  --fs-18: 18px;
  --fs-16: 16px;
  --fs-14: 14px;

  --line-height-140: 140%;
  --line-height-130: 130%;
  --line-height-120: 120%;
  --line-height-110: 110%;
  
  --letter-spacing-5: -0.5px;
  --letter-spacing-2: -2px;
  --letter-spacing-1: -1px;

  --border-radius-4: 4px;
  --border-radius-6: 6px;
  --border-radius-8: 8px;
  --border-radius-10: 10px;
  --border-radius-12: 12px;
  --border-radius-16: 16px;
  --border-radius-20: 20px;
  --border-radius-24: 24px;
  --border-radius-full: 999px;

  --ff-inter: "Inter", sans-serif;
  --martian-mono: 'Martian Mono', serif;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}


html,
body 
:root{
  overflow-x: hidden;
}

body {
  font-family: 'Martian Mono', serif;
}


a {
  text-decoration: none;
  color: inherit;
}

li,
ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}


p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: balance;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.children-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}


.inter-ff{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.martian-mono-ff {
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}